body {
	padding: 0;
	padding-bottom: 3em;
	margin: 0;
	background-color: #edebe3;
	font-size:  10pt;
	font-size:  small;
}

h1 {
	text-align: center;
	font-size: 180%;
}

#content{
	border: 1px solid #555;
	border-bottom-width: 0px;
	border-top-width: 2px;
	border-top-color: #942020;
	
	padding-left: 2em;
	padding-right: 4em;
	padding-bottom: 4em;
	
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	
	background-color: #fffdf3;
}

#footer {
	border: 1px solid #555;
	border-top-width: 0px;

	background-color: #fff3b3;
	width: 45em;
	padding-right: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

#footer span {
	font-size: 80%;
}

#footer a {
	font-style: italic;
}

h2 {
	border-bottom: 1px solid black;
	color: #333;
	font-size: 140%;
	font-style: italic;
}

h3 {
	color: #000;
	font-size: 100%;
}

ul.spaced li {
	padding: 0.3em;
}


table.namevalue th {
	font-weight: bold;
	font-style: italic;
	padding-right: 1em;
	text-align: right;
}
